 #heading{
    text-align: center;
    color: whitesmoke;
}
.logo {
    float: left;
}
#paragraph {
    text-align: center;
    position: absolute;
    top: 20%;
}
body {
    background-image: url("./images/pic1.jpg");
    background-position: inherit;
    background-size: cover;
    position: absolute;
    height: 900px;
    width: 100%;
}